@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap');


body {
  background: #F9F8FF;
  background-image: radial-gradient(#D3CCFF 1.5px, transparent 0);
  background-size: 30px 30px;
  background-position: -29px -29px;
}

#about-section {
  height: 100vh;
}

.portfolio-website {
  font-family: 'Bakbak One', sans-serif;
  color: #3E3DC4;
  margin-top: 45px;
  margin-left: 50px;
}

.sruthi {
  font-family: 'Bakbak One', sans-serif;
  color: #2B2A1F;
  font-size: 84px;
  margin-left: 50px;
  margin-top: 100px;
}

.cs {
  font-family: 'Montserrat', sans-serif;
  color: #F667D2;
  font-size: 35px;
  margin-left: 50px;
  margin-top: -60px;
  font-weight: 900;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #2B2A1F;
  font-size: 20px;
  width: 1200px;
  margin-left: 50px;
  font-weight: 600;
}

.menu {
  float: right;
  font-family: 'Bakbak One', sans-serif;
  color: #3E3DC4;
  margin-top: -394px;
  margin-right: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
}
