@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap');


body {
  background: #F9F8FF;
  background-image: radial-gradient(#D3CCFF 1.5px, transparent 0);
  background-size: 30px 30px;
  background-position: -29px -29px;
}

/* about */

#about-section {
  height: 80vh;
}

.portfolio-website {
  font-family: 'Bakbak One', sans-serif;
  color: #3E3DC4;
  margin-top: 45px;
  margin-left: 50px;
}

.sruthi {
  font-family: 'Bakbak One', sans-serif;
  color: #2B2A1F;
  font-size: 84px;
  margin-left: 50px;
  margin-top: 100px;
}

.cs {
  font-family: 'Montserrat', sans-serif;
  color: #F667D2;
  font-size: 35px;
  margin-left: 50px;
  margin-top: -60px;
  font-weight: 900;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #2B2A1F;
  font-size: 20px;
  width: 1200px;
  margin-left: 50px;
  font-weight: 600;
}

.menu {
  float: right;
  font-family: 'Bakbak One', sans-serif;
  color: #3E3DC4;
  margin-top: -394px;
  margin-right: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
  font-weight: 900;
}


/* projects */

#projects-section {
  overflow-x: scroll;
  white-space: nowrap;
  height: 180vh;
}

#projects-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.projects-header {
  font-family: 'Bakbak One', sans-serif;
  color: #2B2A1F;
  font-size: 84px;
  margin-left: 50px;
  margin-top: 100px;
}

.all-projects > * {
  display:inline-block;
  vertical-align:middle;
}

/* contact */
#contact-section {
  height: 60vh;
}

.contact-header {
  font-family: 'Bakbak One', sans-serif;
  color: #2B2A1F;
  font-size: 84px;
  margin-left: 50px;
  margin-top: 100px;
}

.contact-icons {
  margin-left: 50px;
  margin-top: 90px;
}

.contact:hover {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-45px); }
  100% { transform: translateY(0); }
}


.contact {
  margin-right: 80px;
}


/* responsiveness */

@media (max-width: 668px) {

  #about-section {
    height: 60vh;
  }

  .portfolio-website {
    visibility: hidden;
  }

  .sruthi {
    font-size: 35px;
    margin-left: 25px;
    width: 100px;
    margin-top: 25px;
  }

  .cs {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 25px;
    width: 300px;
  }

  .description {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 25px;
    width: 350px;
    text-align: justify;
  }

  .menu {
    visibility: hidden;
  }

  #projects-section {
    height: 120vh;
  }

  .projects-header {
    font-size: 35px;
    margin-left: 25px;
  }

  .all-projects {
    margin-left: -15px;
  }

  #contact-section {
    height: 40vh;
  }

  .contact-header {
    font-size: 35px;
    margin-left: 25px;
  }

  .contact-icons {
    margin-top: 25px;
    margin-left: 25px;
  }

  .contact {
    height: 50px;
    width: 50px;
    margin-right: 25px;

  }

}